@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

$onyx: #393D3F;
$white: #fdfdff;
$silver: #c6c5b9;
$teal: #62929E;
$blue: #2191FB;
$red: #f36365;
$green: #01d17c;

$highlight: $blue;
$highlight-dark: darken($highlight, 10);
$body-color: $onyx;
$alt-color: $silver;
$mono-font: 'Source Code Pro', monospace;